<ion-header>
  <ion-toolbar>
    <ion-title color="dark">Components examples</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/alert" color="light" expand="block">Alert</ion-button>
  <ion-button routerLink="/action-sheet" color="light" expand="block">Action Sheet</ion-button>
  <ion-button routerLink="/avatar" color="light" expand="block">Avatar</ion-button>
  <ion-button routerLink="/button" color="light" expand="block">Button</ion-button>
  <ion-button routerLink="/card" color="light" expand="block">Card</ion-button>
  <ion-button routerLink="/checkbox" color="light" expand="block">Checkbox</ion-button>
  <ion-button routerLink="/datetime" color="light" expand="block">Datetime</ion-button>
  <ion-button routerLink="/fab" color="light" expand="block">Fab</ion-button>
  <ion-button routerLink="/grid" color="light" expand="block">Grid</ion-button>
  <ion-button routerLink="/infinitescroll" color="light" expand="block">Infinite Scroll</ion-button>
  <ion-button routerLink="/input" color="light" expand="block">Input</ion-button>
  <ion-button routerLink="/list" color="tertiary" expand="block">List</ion-button>
</ion-content>
