<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/alert" color="danger" expand="block">Alert</ion-button>
  <ion-button routerLink="/action-sheet" color="secondary" expand="block">Action Sheet</ion-button>
  <ion-button routerLink="/avatar" color="primary" expand="block">Avatar</ion-button>
  <ion-button routerLink="/button" color="medium" expand="block">Button</ion-button>
  <ion-button routerLink="/list" color="tertiary" expand="block">List</ion-button>
</ion-content>
