<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/' color="medium" text="Go back"></ion-back-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize" color="primary">avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/images/avatar.png"></ion-img>
      </ion-avatar>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-text color="dark" class="ion-padding">{{ description }}</ion-text>

<ion-content>

  <ion-item-divider color="dark">
    <ion-label color="danger">Chips</ion-label>
  </ion-item-divider>

  <ion-chip color="primary" outline="true"
            *ngFor="let item of [1,1,1]">
    <ion-avatar>
      <ion-img src="/assets/images/avatar.png"></ion-img>
    </ion-avatar>
    <ion-label>Avatar</ion-label>
  </ion-chip>

  <ion-item-divider color="dark">
    <ion-label color="danger">List</ion-label>
  </ion-item-divider>

  <ion-list *ngFor="let item of [1,1,1]">
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="/assets/images/avatar.png"></ion-img>
      </ion-avatar>
      <ion-label color="primary">Item Avatar</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
